.about-section {
    padding: 50px;
    background-color: #f9f9f9;
}

.about-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
}

.content-column,
.image-column {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.sec-title h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.image-column {
    display: flex;
    justify-content: center;
}

.image-box {
    max-width: 100%;
}

.image img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row; 
    }

    .sec-title h2 {
        font-size: 2.5em;
    }

    .text {
        font-size: 18px;
    }

    .image-box {
        max-width: 50%;
    }
}
