.achievements-section {
  padding: 20px;
  max-width: 100%;
}

.heading-container {
  text-align: center;
  margin-bottom: 20px;
}

.achievements-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.achievement-slide {
  display: flex;
  gap: 20px;
  width: 80%;
  justify-content: center;
  transition: transform 0.5s ease;
}

.achievement-image {
  width: 30%; 
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.prev-button,
.next-button {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: transparent;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}


@media (max-width: 768px) {
  .achievement-slide {
    width: 90%;
  }

  .achievement-image {
    width: 45%; 
  }
}

@media (max-width: 576px) {
  .achievement-slide {
    width: 100%;
  }

  .achievement-image {
    width: 90%; 
  }

  .prev-button,
  .next-button {
    font-size: 1.5rem; 
  }
}
